.overlay {
  position: fixed;
  /* background: #293a67; */
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  // background: #293a67df;
  background: #323232df;
  height: 100%;
}

.btn-close {
  position: fixed;
  top: 15%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;

  span {
    background: #fff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer;
  }

  .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
  }

  .bottom {
    transform: translateY(11px) translateX(0) rotate(-45deg);
  }
}
