$color-main: #0c1c3c;
$color-secondary: #6494fb;
$color-tertiary: #fbfbfb;
$color-search-btn: #6494fb;
$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$border-radius-search: 1rem;
