@import 'reset';
@import 'navbar';
@import 'variables';
@import 'sidebar';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
  background-color: $main-color;
  color: $secondary-color;
  font-size: 1.6rem;
}
