@import 'reset';
@import 'navbar';
@import 'variables';
@import 'sidebar';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
  background-color: $main-color;
  color: $secondary-color;
  font-size: 1.6rem;
}

.slider {
  display: flex;
  gap: 2rem;
  overflow: visible;
  width: 100%;
}

.slider-card {
  width: 300px;
  height: 200px;
  background-color: #ededed;
  border-radius: 4px;
  // box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.slider-card__image {
  // background: url('../images/github.png') center / cover;
  width: 100%;
  height: 100%;
}
